@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@1,800,500,100,700,400,300,200,900&f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap');



html, body {
    line-height: 25px;
    font-weight: 400;
}

.title-bg:before {
    background: #999999;
    width: 100%;
}

.title-bg:after, .title-bg:before {
    height: 4px;
    left: 0;
    position: absolute;
    content: "";
    bottom: -14px;
}

.title-bg:after {
    background: #fbc02d;
    width: 50%;
}

.title-bg {
    position: relative;
    font-size: 24px;
    color: #111111;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}

.bg-place-1{
    background: url(/img/today-match-bg.jpg);
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 99999px rgb(0 0 0 / 80%);
}
