---
import Layout from '../layouts/Layout.astro';

import {DocumentArrowDownIcon} from '@heroicons/vue/24/solid';

---

<Layout title="Anmeldung beim SV Fühlingen">

    <div class="bg-gray-50 shadow pt-14 pb-8 text-gray-500">

        <div class="mx-auto max-w-7xl py-2 px-4 sm:px-6 lg:px-8">

            <div class="pb-2">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900">Willkommen beim SV Fühlingen!</h1>
                <p class="mt-4 text-xl">Es freut uns sehr, dass Sie sich für eine Mitgliedschaft in unserem lebendigen und engagierten Verein interessieren.</p>
                <p class="mt-2 text-xl">Um den Anmeldeprozess zu beginnen, müssen zwei wichtige Formulare ausgefüllt werden: das Formular für die <b>Vereinsanmeldung</b> und das Formular für die <b>Fußballanmeldung</b>.</p>
            </div>
        </div>
    </div>

    <div class="mx-auto max-w-7xl py-2 px-4 sm:px-6 lg:px-8">

        <p class="mt-10 ">
            Nach dem Ausfüllen der Formulare übergeben Sie diese bitte einem unserer Trainer oder reichen Sie sie in unserem Büro ein, das jeden Donnerstag von 17:00 bis 19:00 Uhr geöffnet ist.


        </p>
        <p class="mt-5">
            Wir freuen uns darauf, Sie beim SV Fühlingen willkommen zu heißen und gemeinsam erfolgreiche und freudige Momente auf dem Fußballplatz zu erleben.
        </p>

        <hr class="mt-8">

        <h2 class="mt-8 text-xl font-bold leading-10 tracking-tight text-gray-900">Vereinsanmeldung:</h2>

        <a target="_blank" href="/download/Aufnahmeantrag.pdf" class="mt-5 mb-3 inline-flex items-center gap-x-2 rounded-md bg-gray-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
            <DocumentArrowDownIcon class="-ml-0.5 h-5 w-5" />
            Aufnahmeantrag
        </a>

        <p class="mt-3">
            Dieses Formular ist für alle Mitglieder verpflichtend. Es dient dazu, Ihre grundlegenden Daten zu erfassen, einschließlich persönlicher Informationen des Spielers/der Spielerin. Bitte füllen Sie alle Felder sorgfältig aus.
        </p>

        <div class="mx-auto max-w-2xl divide-y divide-gray-900/10 pb-8 sm:pt-2 lg:max-w-7xl ">
            <dl class="mt-5 space-y-8 divide-y divide-gray-900/10">
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Mitgliedsbeitrag</dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Der monatliche Beitrag für die Fußballabteilung beträgt 14 Euro. Dieser wird jedoch vierteljährlich eingezogen, sodass alle drei Monate ein Betrag von 42 Euro abgebucht wird.
                        </p>
                    </dd>
                </div>
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Bildungspaket</dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Wenn Sie Anspruch auf das Bildungspaket haben, akzeptieren wir dies und stellen ein zusätzliches Formular zur Verfügung.
                        </p>
                    </dd>
                </div>
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Bankdaten eines Elternteils</dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Für die Abwicklung des Mitgliedsbeitrags benötigen wir die Bankverbindung eines Elternteils. Die Unterschrift des Elternteils, der die Bankdaten angibt, ist auf dem Formular erforderlich.
                        </p>
                    </dd>
                </div>


                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Gebühr bei Erstanmeldung</dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Bei der ersten Anmeldung wird eine Gebühr von 15 Euro erhoben, unabhängig davon, ob ein Bildungspaketanspruch besteht oder nicht.
                        </p>
                    </dd>
                </div>

                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Spaß am Spiel:</dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Wir sorgen dafür, dass der Spaß am Fußball im Vordergrund steht. Unsere Trainings sind
                            dynamisch, abwechslungsreich und immer mit einer Prise Spaß versehen.
                        </p>
                    </dd>
                </div>
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Möglichkeiten zur
                        Weiterentwicklung:
                    </dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Neben unseren regelmäßigen Trainings bieten wir auch die Möglichkeit, an Spielen gegen
                            andere lokale Mannschaften teilzunehmen. Diese Spiele sind eine großartige Gelegenheit,
                            um Deine Fähigkeiten in der Praxis anzuwenden und weiterzuentwickeln.
                        </p>
                    </dd>
                </div>
                <!-- More questions... -->
            </dl>
        </div>

        <hr class="mt-8">

        <h2 class="mt-8 text-xl font-bold leading-10 tracking-tight text-gray-900">Fußballanmeldung:</h2>

        <a target="_blank" href="/download/Antrag_Spielberechtigung_WFLV.pdf" class="mt-5 mb-3 inline-flex items-center gap-x-2 rounded-md bg-gray-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
            <DocumentArrowDownIcon class="-ml-0.5 h-5 w-5" />
            Fußballanmeldung
        </a>

        <p class="mt-3">
            Dieses Formular ist speziell für die Teilnahme am Fußballbetrieb. Auch dieses Formular muss von allen Mitgliedern ausgefüllt werden.
        </p>

        <p class="mt-3">
            Für Neumitglieder, die sich zum ersten Mal registrieren, sind zusätzliche Unterlagen notwendig:
        </p>

        <div class="mx-auto max-w-2xl divide-y divide-gray-900/10 pb-8 sm:pt-2 lg:max-w-7xl ">
            <dl class="mt-5 space-y-8 divide-y divide-gray-900/10">
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Für in Deutschland geborene Spieler</dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Bitte legen Sie eine Kopie Ihrer Geburtsurkunde bei.
                        </p>
                    </dd>
                </div>
                <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                    <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Für im Ausland geborene Spieler:</dt>
                    <dd class="mt-4 lg:col-span-7 lg:mt-0">
                        <p class="text-base leading-7 text-gray-600">
                            Fügen Sie die ausgefüllte Rückseite des Verbandsanmeldeformulars sowie Kopien Ihres Passes und Ihrer Meldebescheinigung hinzu.
                        </p>
                    </dd>
                </div>

                <!-- More questions... -->
            </dl>
        </div>


    </div>

</Layout>

<style>


</style>
