---
import Layout from '../layouts/Layout.astro';
import StartpageTeamNews from '../components/home/NewsList.astro';
import PrevGames from '../components/home/PrevGames.astro';

import fetchApi from '../lib/teamsCache';
import Game from '../interfaces/apifussball/game';
import fetchApiFussball from '../lib/apiFussball';

import { ChevronRightIcon } from '@heroicons/vue/24/solid';


const teams = await fetchApi.getTeams();

let nextGames = await fetchApiFussball<Game[]>({
	id: '00ES8GN91400002IVV0AG08LVUPGND5I'
});

nextGames.filter(game => game.status === '');
if(nextGames.length > 6) {
	nextGames = nextGames.slice(0, 6);
}

const products = [
	{
		id: 1,
		name: 'Du möchtest Fußball spielen?',
		href: '/probetraning',
		description: 'Freundschaft, Spaß und Spiel – das alles kannst du im Team erleben! Wenn du Fußballer werden möchtest, kannst du gern zu unserem Sichtungstrainig der Jahrgänge U7 – U19 kommen!',
		imageSrc: 'img/post1.jpg',
		buttonName: 'Sichtungstrainig'
	},
	{
		id: 2,
		name: 'Unsere Teams',
		href: '#',
		description: 'Alle relevanten Info’s zu unseren Teams findet ihr auf den einzelnen Seiten der Mannschaften: Kader inkl. Trainerstab, aktuelle Tabelle, Statistiken, vergangene sowie zukünftige Spiele.',
		imageSrc: 'img/post3.jpg',
		buttonName: 'Teams'
	},
	{
		id: 3,
		name: 'Jugendtrainer gesucht',
		href: '#',
		description: 'Du hast Spaß am Fußball? Du willst junge Fußballer fördern und entwickeln? Dann bist Du bei uns richtig!',
		imageSrc: 'img/post2.jpg',
		buttonName: 'Mehr Info'
	},
	{
		id: 4,
		name: 'Der Verein',
		href: '#',
		description: 'Der SV Fühlingen-Chorweiler ist mit über 800 Mitgliedern einer der größten Sportvereine im Kölner Norden.',
		imageSrc: 'img/post4.jpg',
		buttonName: 'Über uns'
	},
]

---

<Layout title="SV Fühlingen | Fussball">
	<header class="bg-header flex items-center justify-center text-white">

		<div class="text-center">
			<h1 class="text-6xl font-bold pb-5">
				Wir suchen dich
			</h1>
			<p class="text-mg">
				Du möchtest Teil eines tollen Teams werden, neue Freunde kennenlernen und eine Menge
				Spaß haben?
			</p>
			<p class="text-mg">
				Dann trau dich und komm vorbei! Wir freuen uns auf dich
			</p>
			<div class="px-14 py-10">
				<a href="#"
				   class="md:mr-20 border-2 border-yellow-400 inline-flex w-full justify-center rounded-md px-6 py-4 text-base font-medium text-gray-200 hover:bg-yellow-400 hover:text-gray-800 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">UNSERE
					JUNGEND</a>
				<a href="/probetraning"
				   class="mt-2 inline-flex w-full justify-center rounded-md bg-yellow-400 px-6 py-4 text-base font-medium text-gray-800  hover:bg-transparent hover:text-gray-200 border-2 border-yellow-400 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">PROBETRANING</a>
			</div>
		</div>

	</header>


	<div class="bg-white shadow mt-10 pt-14 pb-16">
		<div class="mx-auto max-w-7xl py-2 px-4 sm:px-6 lg:px-8">

			<div class="flex flex-wrap overflow-hidden">

				<!-- News-->
				<div class="md:w-2/3 overflow-hidden mb-10">

					<StartpageTeamNews/>

				</div>

				<!-- Letzte Spiele-->
				<div class="md:w-1/3 overflow-hidden w-full">
					<h3 class="title-bg">Letzte Spiele</h3>

					<PrevGames />

				</div>

			</div>

		</div>
	</div>

	<div class="mx-auto max-w-7xl py-10 sm:px-6 lg:px-8">

		<div class="flex flex-wrap">
			<div class="md:w-2/3 overflow-hidden mb-10 sm:w-max">

				<h3 class="title-bg">Nächste Spiele</h3>

				<div class="bg-match overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg md:mr-20">
					<table class="min-w-full divide-y divide-gray-300">
						<tbody>

						{nextGames.map((game, index) => (
							<tr class={index % 2 === 0 ? "black-optician" : ""}>
								<td class="px-3 py-6 whitespace-nowrap text-gray-200 text-center">{ game.homeTeam }</td>
								<td class="text-yellow-500 text-center">:</td>
								<td class="px-3 py-6 text-gray-200 text-center">{ game.awayTeam }</td>
								<td class="px-3 py-6 text-yellow-500">{ game.date } | { game.time }</td>
								<td class="px-3 py-6 text-gray-200">{ game.ageGroup }</td>
							</tr>
						))}

						</tbody>
					</table>
				</div>
			</div>

			<div class="md:w-1/3 overflow-hidden w-full">

				<h3 class="title-bg">Unsere Teams</h3>

				<ul>
					{teams.map((team) => (
						<li class="py-1.5 text-gray-900 border-b my-2 font-light hover:text-yellow-500">
							<ChevronRightIcon class="-translate-y-0.5 w-4 h-4 inline mr-2"/>
							<a href=`/team/${team.attributes.ident}` class="inline-block">{ team.attributes.name }</a>
						</li>
					))}
				</ul>
			</div>
		</div>
		<!-- /End replace -->
	</div>

	<hr class="mb-16">

	<div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">

		<div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-4 lg:gap-x-8">
			{products.map((product) => (
				<div class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
					<div class="aspect-w-3 aspect-h-4 bg-gray-200 group-hover:opacity-75 sm:aspect-none h-56">
						<img src={product.imageSrc} class="object-cover object-center h-full w-full"/>
					</div>
					<div class="flex flex-1 flex-col space-y-2 p-4">
						<h3 class="text-sm font-medium text-gray-900">
							<a href={product.href}>
								<span aria-hidden="true" class="absolute inset-0"/>
								{ product.name }
							</a>
						</h3>
						<p class="text-sm text-gray-500 leading-6">{ product.description }</p>
						<div class="flex flex-1 flex-col justify-end">
							<p class="mt-4 mb-2 inline-flex w-full justify-center rounded-md bg-black px-4 py-2.5 font-medium text-gray-300 uppercase sm:w-auto text-sm">
								{ product.buttonName }
							</p>
						</div>
					</div>
				</div>
			))}
		</div>
	</div>

</Layout>

<style>

	.bg-header {
		background: url(/img/1a.jpg) top center no-repeat;
		height: 40rem;
		background-size: cover;
		background-color: black;

	}


</style>
