---
import Layout from '../layouts/Layout.astro';

import {DocumentArrowDownIcon} from '@heroicons/vue/24/solid';

---

<Layout title="Probetraining beim SV Fühlingen">

    <div class="bg-gray-50 shadow pt-14 pb-16 text-gray-500">


        <div class="mx-auto max-w-7xl py-2 px-4 sm:px-6 lg:px-8">

            <div class="pb-2">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900">Probetraining beim SV Fühlingen</h1>
                <p class="mt-4 text-2xl">Entdecke Deine Leidenschaft für Fußball bei uns!</p>
            </div>

            <p class="mt-6 ">
                Du bist fußballbegeistert und suchst nach einer Möglichkeit, Dein Talent zu zeigen und
                weiterzuentwickeln? Dann bist Du beim SV Fühlingen genau richtig! Wir bieten Dir die Chance, Teil
                unserer Fußballfamilie zu werden und laden Dich herzlich zu einem unverbindlichen Probetraining ein.
            </p>

            <h2 class="mt-8 text-xl font-bold leading-10 tracking-tight text-gray-900">Für wen?</h2>

            <p class="mt-3">
                Unsere Türen stehen offen für alle Altersgruppen und Fähigkeitsstufen. Egal, ob Du gerade erst anfängst
                oder schon jahrelange Erfahrung hast – beim SV Fühlingen findet jeder seinen Platz.
            </p>

            <h2 class="mt-8 text-xl font-bold leading-10 tracking-tight text-gray-600">Wichtig für aktive Spieler
                anderer Vereine:</h2>

            <p class="mt-3">
                Wenn Du aktuell in einem anderen Verein spielst, benötigen wir für Dein Probetraining eine schriftliche
                Erlaubnis deines Vereins. Das benötigte Formular kannst Du einfach von unserer Website herunterladen und
                ausdrucken. Lass es von Deinem aktuellen Trainer und Verein ausfüllen und bringe es zum Probetraining
                mit. Dieses Verfahren stellt sicher, dass wir alle formalen Richtlinien einhalten.
            </p>

            <a target="_blank" href="/download/Anmeldung_Probetraining.pdf" class="mt-5 inline-flex items-center gap-x-2 rounded-md bg-gray-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                <DocumentArrowDownIcon class="-ml-0.5 h-5 w-5" />
                Anmeldung Probetraining *
            </a>
            <p class="text-xs mt-1 text-gray-600">* Nur aktive Spieler anderer Vereine.</p>


            <div class="mx-auto max-w-2xl divide-y divide-gray-900/10 pb-8 sm:pt-12 lg:max-w-7xl ">
                <h2 class="text-xl font-bold leading-10 tracking-tight text-gray-900">Was Dich erwartet:</h2>
                <dl class="mt-5 space-y-8 divide-y divide-gray-900/10">
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Professionelles
                            Training:
                        </dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">
                                Unsere erfahrenen Trainerinnen und Trainer legen großen Wert auf eine ganzheitliche
                                Entwicklung. Egal, ob Du Anfänger oder fortgeschrittener Spieler bist, wir fördern Deine
                                Fähigkeiten individuell.
                            </p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Teamgeist und
                            Fairplay:
                        </dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">
                                Beim SV Fühlingen steht der Teamgeist an erster Stelle. Wir glauben fest daran, dass
                                Fußball mehr ist als nur ein Spiel – es ist eine Gemeinschaft, in der jeder Einzelne
                                zählt und Respekt und Fairness großgeschrieben werden.
                            </p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Spaß am Spiel:</dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">
                                Wir sorgen dafür, dass der Spaß am Fußball im Vordergrund steht. Unsere Trainings sind
                                dynamisch, abwechslungsreich und immer mit einer Prise Spaß versehen.
                            </p>
                        </dd>
                    </div>
                    <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                        <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Möglichkeiten zur
                            Weiterentwicklung:
                        </dt>
                        <dd class="mt-4 lg:col-span-7 lg:mt-0">
                            <p class="text-base leading-7 text-gray-600">
                                Neben unseren regelmäßigen Trainings bieten wir auch die Möglichkeit, an Spielen gegen
                                andere lokale Mannschaften teilzunehmen. Diese Spiele sind eine großartige Gelegenheit,
                                um Deine Fähigkeiten in der Praxis anzuwenden und weiterzuentwickeln.
                            </p>
                        </dd>
                    </div>
                    <!-- More questions... -->
                </dl>
            </div>

            <h2 class="mt-8 text-xl font-bold leading-10 tracking-tight text-gray-900">Wir freuen uns auf Dich!</h2>

            <p class="mt-3">
                Dein Traum vom Fußballspielen wartet hier auf Dich. Werde Teil des SV Fühlingen und starte Deine
                fußballerische Reise mit uns. Wir können es kaum erwarten, Dich auf dem Platz zu sehen!
            </p>


        </div>
    </div>

    <div class="mx-auto max-w-7xl py-2 px-4 sm:px-6 lg:px-8">
        <h2 class="mt-8 text-xl font-bold leading-10 tracking-tight text-gray-900">
            Kontaktiere uns:
        </h2>
        <div class="flex flex-col gap-10 pt-5 sm:flex-row">
            <img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover"
                 src="/images/sentuerk.jpg"
                 alt="">
            <div class="max-w-xl flex-auto">

                <h3 class="text-lg font-semibold leading-8 tracking-tight text-gray-900">Özhan Sentürk</h3>
                <p class="text-base leading-7 text-gray-600">Abteilungsleiter Fußball Jugend</p>
                <p class="mt-8 text-base leading-7 text-gray-600">
                    Email: <span class="font-bold">sentuerk1983@outlook.de</span>
                </p>
                <p class="mt-2 text-base leading-7 text-gray-600">
                    Tel: <span class="font-bold">0176 810 688 16</span>
                </p>
            </div>
        </div>
    </div>

</Layout>

<style>


</style>
